<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Biometric Permission -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
<!--  Google map Integration-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HabitEase"
        tools:targetApi="31">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity
            android:name=".activities.AddHabitActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProgressActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HabitDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditHabitActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SetLocationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.AIzaSyBAj1NRnAWm0t_lS_VHwT4l1bRdx1aMllM"
            android:value="API_KEY" />
    </application>
</manifest>
